body { 
  background-color: rgb(140, 179, 242);
  text-align: center;
  margin-top: 25vh;
}

h1{
  font-size: calc(20px + 2vw);
  color: whitesmoke;
  margin-bottom: 40px;
}

.startText {    
  min-width: 30vh;
  margin: 20px; 
  text-align: start;
}

.button { 
  margin-top: 20px;
  margin: 20px; 
}

.border{
  border: 2px;
  border-radius: 10px;
}