@tailwind base;
@tailwind components;
@tailwind utilities;

border-3 {
  margin: 10px;
}

body {
  background-color: bg-green-500;
}

.actionButton {
  color: white;
  padding: 50px;
  max-width: 400px;
}
